{% extends('base.html.twig') %}
{% block body %}
    <div class="container">


    <div class="container content center jumbotron announce_body">
        <div class="paral announce_header" style='background-image: url("/{{ announce.imageUrl }}") !important;'>

        </div>
        <h4 class="announce_date">{{ announce.date|date('d-m-Y') }}</h4>
        <h1 class="announce_title display-4">{{ announce.title }}</h1>
        <h3 class="announce_title display-10">{{ announce.resume }}</h3>
        <hr class="my-4">
        <p class="bandlead">{{ announce.content }}</p>
    </div>
    </div>
{% endblock %}