{% extends('base.html.twig') %}
{% block announces_block %} nav-link-active {% endblock %}
{% block body %}

    {% for announce in announces %}
        <div class="container">


    <div class="container content center jumbotron announce_body">
        <div class="announce_header" style='background-image: url("/{{ announce.imageUrl }}") !important;'>

        </div>
        <hr class="my-4">
        <h4>{{ announce.date|date('d-m-Y') }}</h4>
        <h1 class="announce_title display-6">{{ announce.title }}</h1>

        <p class="bandlead">{{ announce.resume }}</p>
        <hr class="my-4">
        <a href="{{ path('announce_detail', {'id':announce.id}) }}" class="btn btn-primary">Leer más</a>

    </div>
        </div>
    {% endfor %}
{% endblock %}