{% extends('base.html.twig') %}
{% block body %}


    <div class="container content">

            <div class="row jumbotron transparent">
                <div class="col">
                        <div class="alert alert-success">
                            <strong>¡Confirma tus datos!</strong>
                        </div>

                    <h1 class="title display-6">resumen de tu pedido</h1>
                    <ul>
                    <li class="bandlead"><strong>{{ product.title|upper }}</strong>: {{ product.resume }}</li>
                    <li class="bandlead"><strong>PRECIO:</strong> {{ product.price }} €</li>
                    <li class="bandlead"><strong>DIRECCIÓN DE ENTREGA:</strong> {{ user.completeAddress }} </li>
                    </ul>
                    <a class="px-2 btn btn-primary btn-dark" href="{{ path('confirm', {'id': product.id}) }}">confirmar pedido</a>
                </div>
            </div>

    </div>



{% endblock %}